@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

.navbar {
    background-color: rgb(127, 136, 255);
    display: flex;
    text-decoration: none;
    flex-direction: column;
    color: black;
    font-family: 'Comfortaa';
    

}
 
.navlist {
    display: flex;
    justify-content: space-around;
  
  
    
}

.nav-links {
    color: white;
    text-decoration: none;
}

.nav-links:hover {
    color: black;
}

.nav-item {
    color: transparent;
   
}
